<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Core bid', {% for instance in instances %}"{{ instance }}"{% if not loop.last %},{% endif %}{% endfor %}],
                {% for row in chart_matrix %}
                    [{% for value in row %}{{ value }}{% if not loop.last %},{% endif %}{% endfor%}]
               {% if not loop.last %},{% endif %}{% endfor %}

            ]);

            var options = {
                hAxis: {gridlines: {count: 10}, title: "Bid for core"},
                vAxis: {maxValue: 24, title: "Hours available", gridlines: {count: 5}},
                title: 'Instances availability'
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>